* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    background-color:rgb(190, 178, 178);
}

h1 {
    color: rgb(40, 184, 40);
    font-size: 40px;
    margin: 20px 0 20px 0;
}

h2 {
    color: rgb(63, 109, 63);
    margin: 20px 0 20px 0;
}

p {
    font-size: 16px;
    text-align: justify;
    color: rgb(60, 105, 60);
    margin: 20px 0 20px 0;
}

.main-text {
    text-align: justify;
    margin-bottom: 20px;
}

.second-text {
    text-align: justify;
}

#author-text {
    font-size: 22px;
    float: left;
    margin: 40px auto auto 10px;
}

.html5-logo {
    height: 150px;
}

.container {
    width: 1140px;
    margin: 20px auto 0 auto;
}

.blog-post {
    width: 75%;
    float:left;
    padding-right: 30px;
    position: relative;
}

.other-posts {
    width: 25%;
    float:left;
}

.author-box {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid gray;
}

.other {
    margin-bottom: 30px;
}

.author-box img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    float: left;
}

.blog-post img {
    height: 150px;
    width: auto;
}

.date {
    position: absolute;
    top: 0;
    right: 0;
    margin: 60px 30px 0 0;
}